.ui__editable {
  &-label,
  &-input {
    display: block;
    position: relative;
    cursor: pointer;
  }

  &-label:hover {
    background-color: #dedede;
  }

  &-controls {
    z-index: 2000;
    position: absolute;
    left: 0;
    animation: controls-animation 0.3s ease;
  }

  &-input .ui__input {
    display: block;
    width: 100%;
  }
}

@keyframes controls-animation {
  0% {
    top: 180%;
    opacity: 0;
  }
  100% {
    top: 100%;
    opacity: 1;
  }
}