.ui__radio {
  &-group {
    padding: 0.5rem;
  }

  &-button {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 1.4rem;
    margin-bottom: 0.5rem;

    & .ui__input--radio {
      display: none;
    }

    & .ui__label {
      padding-left: 2rem;

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        box-sizing: border-box;
        content: "";
        width: 1.4rem;
        height: 1.4rem;
        display: inline-block;
        border: 2px solid #a7a7a7;
        border-radius: 50%;
        transition: 0.6s ease border-color;
      }

      &::after {
        content: "";
        position: absolute;
        width: 0.5rem;
        height: 0.5rem;
        top: 0.45rem;
        left: 0.45rem;
        background-color: blue;
        transform: scale(0);
        border-radius: 50%;
        transition: all 0.3s ease;
      }
    }

    & .ui__input--radio:checked {
      & + .ui__label::after {
        transform: scale(1);
      }

      & + .ui__label::before {
        border-color: blue;
      }
    }
  }
}
