@button-normal-background-color: #3F7C85;
@button-waring-background-color: #FFAE00;
@button-error-background-color: #FF5F5D;
@button-success-background-color: #03A678;
@button-disabled-background-color: #6a6a6a;

@button-normal-text-color: #ffffff;
@button-disabled-text-color: #8a8a8a;
@button-waring-text-color: #343434;

.ui__button {
  margin: 0;
  border-radius: 2px;
  font-size: 0.8rem;
  border: none;
  outline: none;
  padding: 0.5rem;
  cursor: pointer;
  box-shadow: 0 5px 5px -5px rgba(51, 51, 51, .75);
  color: @button-normal-text-color;

  &--normal {
    background-color: @button-normal-background-color;
  }

  &--success {
    background-color: @button-success-background-color;
  }

  &--warning {
    background-color: @button-waring-background-color;
  }

  &--error {
    background-color: @button-error-background-color;
  }

  &--disabled {
    background-color: @button-disabled-background-color;
    color: @button-disabled-text-color;
    cursor: auto;
  }

  &:not(&--disabled) {
    &:active {
      transform: scale(.98);
    }
  }
}