@modal-background: #fafafa;

.ui__modal {

  &-background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(51, 51, 51, .55);
    z-index: 1001;
    opacity: 0;
    transition: opacity .3s ease;

    &--shown {
      opacity: 1;

      & > .ui__modal {
        transform: scale(1);
      }
    }
  }

  z-index: 1001;
  background-color: @modal-background;
  transform: scale(.7);
  transition: scale .3s ease;
}